[package]
name = "dicom-storescu"
version = "0.3.2"
authors = ["Eduardo Pinho <enet4mikeenet@gmail.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
repository = "https://github.com/Enet4/dicom-rs"
description = "A DICOM C-ECHO command line interface"
categories = ["command-line-utilities"]
keywords = ["dicom"]
readme = "README.md"

[features]
default = ["transcode"]
# support DICOM transcoding
transcode = ["dep:dicom-pixeldata"]

[dependencies]
clap = { version  = "4.0.18", features = ["derive"] }
dicom-core = { path = '../core', version = "0.6.3" }
dicom-dictionary-std = { path = "../dictionary-std/", version = "0.6.1" }
dicom-encoding = { path = "../encoding/", version = "0.6.1" }
dicom-object = { path = '../object', version = "0.6.3" }
dicom-pixeldata = { version = "0.2.2", path = "../pixeldata", optional = true }
dicom-transfer-syntax-registry = { path = "../transfer-syntax-registry/", version = "0.6.2" }
dicom-ul = { path = '../ul', version = "0.5.1" }
walkdir = "2.3.2"
indicatif = "0.17.0"
tracing = "0.1.34"
tracing-subscriber = "0.3.11"
snafu = "0.8"
